######################################################################
#
# .htaccess
#
# Rewrite rules for Apache.
# If you don't use Apache's web server, then you won't use this.
#
# Map everything but the `images/` directory to https://fotojson.com/
#
######################################################################
#
# See https://httpd.apache.org/docs/2.4/howto/htaccess.html#when
# If you have access to the Apache configuration for your web site,
# put this in a <Directory> section there, instead of a .htaccess file.
# (Not that "disk" access costs much these days.)
#
######################################################################

# Set some options.
Options -Indexes
Options +FollowSymLinks

# Rewriting rules for the lisp server
RewriteEngine on

# You might need this. It's a path in the file system, not URI space
#RewriteBase /home/wws/stonedeyeballs.not

<IfModule mod_rewrite.c>

# always use HTTPS
RewriteCond "%{HTTPS}" "off" [NC]
RewriteRule "^/?(.*)" "https://%{HTTP_HOST}/$1" [R,L,NE]

RewriteCond not images/*   # TODO
RewriteCond %{QUERY_STRING} ^(.+)$
RewriteRule ^(.*)$ https://fotojson.com/$1%1 [P]

RewriteCond not images/*   # TODO
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ https://fotojson.com/$1?title="Stoned Eyeballs" [P]

